 
 
 
    .content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 1140px;
        padding: 133px 30px;
    }

    .result{
        align-self: flex-end;
        padding-right: 16px;
    }

    .result__video-container {
        display: flex;
        width: 100%;
        margin-bottom: 16px;

    }

    .result__video {
        display: grid;
        inline-size: 100%;
    }

    .search-form {
        display: flex;
        justify-content: start;

    }

    .search-form__fieldset {
        margin-right: 40px;

    }

    .search-form__fieldset-title {

    }

    .search-form__label {

    }

    .search-form__label-text {

    }

    .search-form__checkbox-list {

    }

    .search-form__pseudo-checkbox {

    }

    .search-form__submit-button {

    }

    .content__details {
        
 
    }

    .title {

    }

    .content__accent {

    }

    .content__list {
        position: relative;
        align-self: flex-end;
        width: 399px;
        height: 298px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        overflow: scroll;
    }